{% extends "base.html" %}
{% block title %}Create User{% endblock %}

{% block content %}
<h2>Create User</h2>

<form method="post">
    <label>Username</label><br>
    <input name="username" required><br><br>

    <label>Email</label><br>
    <input type="email" name="email" required><br><br>

    <label>Password</label><br>
    <input type="password" name="password" required><br><br>

    <label>
        <input type="checkbox" name="is_admin">
        Admin user
    </label><br><br>

    <label>Status</label><br>
    <select name="status">
        <option value="ACTIVE">ACTIVE</option>
        <option value="PENDING">PENDING</option>
    </select><br><br>

    <button type="submit">Create</button>
</form>

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}
{% endblock %}
